@font-face {
	font-family: 'Black Gladiator - Personal Use';
	src: url(../../assets/fonts/BlackGladiatorPersonalUse.woff2) format('woff2'),
	url(../../assets/fonts/BlackGladiatorPersonalUse.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}